[submodule "modules/CTNH-Bio"]
	path = modules/CTNH-Bio
	url = https://github.com/CTNH-Team/CTNH-Bio.git
[submodule "modules/CTNH-Core"]
	path = modules/CTNH-Core
	url = https://github.com/CTNH-Team/CTNH-Core.git
[submodule "modules/CTPP"]
	path = modules/CTPP
	url = https://github.com/moguang2004/CTPP.git
[submodule "modules/CTNH-Lib"]
	path = modules/CTNH-Lib
	url = https://github.com/CTNH-Team/CTNH-Lib.git
[submodule "modules/CTNH-Mana"]
	path = modules/CTNH-Mana
	url = https://github.com/CTNH-Team/CTNH-Mana.git